<body class="d-flex flex-column min-vh-100">
    <footer class="footer bg-dark py-2 mt-auto">
        <div class="container">
            <span class="text-muted">&copy; RoomFinder 2022</span>
        </div>
    </footer>
</body>